<div class="row px-xl-5">
            {{#each products}}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/product-images/{{this._id}}.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                           <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{this.Name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{this.Price}}</h5>
                        </div>
                    <p class="card-text">{{this.Category}}</p>
                    <p class="card-text">{{this.Description}}</p>
                    
                    
                    </div>
                </div>
           </div>{{/each}}
            
        </div>
    </div>
  